
// *********************************************************
// BASE STYLES
// All rules that define what elements look like by default
// *********************************************************

html, body {
	background-color: $twilight-blue;
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
}

h2{
  margin-left: 20%;
  font-family: $stack-comfortaa;
  margin-top: 30px;
  color: $tarawera
  // font-size: 40px;
}
h4{
  color: $tarawera;
  font-family: $stack-comfortaa;
}
.link{
  color: $tarawera;
  font-family: $stack-roboto-link;
}

a{
  color: $nandor;
}