// *********************************************************
// VARIABLES 
// *********************************************************

// Code color
$tarawera: #083f4c;
$teal: #008081;
$red-berry: #8C0000;
$nandor: #525a5a;
$iron: #e6e6e7;
$twilight-blue: #feffff;

// Font stacks
$stack-sans-serif: Helvetica, Arial, sans-serif; // base font without styling
$stack-roboto: 'Roboto:300', $stack-sans-serif; // all text font
$stack-roboto-link: 'Roboto:300i', $stack-sans-serif; // all links font
$stack-comfortaa: 'Comfortaa', cursive, $stack-sans-serif; // all titles font

// Border radius
$br: 5px;

// Shadow
$bs: 2px 5px 10px rgb(105, 105, 105);