// GO/ Columns rideshare?
.col-2 {
	padding: 0;
	width: 50px;
}

.col-custom {
	display: block;
	padding: 0;
	width: 120px;
}

.col-custom3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	width: 120px;
}

.col-custom2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.col-date {
	width: 150px;
}