// ***** NAVIGATION BAR *****

// Genaral top navigation bar
.nav {
	background-color: $tarawera;
	color: $twilight-blue;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	min-height: 50px;

	// SameWay logo
	.logo-img {
		max-height: 40px;
		margin-left: 5%;
	} // /SameWay logo

	// Links position
	.wrap {
		margin-left: 40%;
		width: 17em;
		margin-right: 5em;
		display: flex;
		justify-content: space-between;
	 // /Links position

		// Rideshare link
		.nav-item {
			display:flex;
			align-items: center;

			// Create and join a ride links
			.nav-link {
				color: $twilight-blue;
				display:flex;
				align-items: center;
				margin: 0;
				padding: 10px;
			}// /Create and join a ride links

			// Icon +
			.plus-img{
				margin-right: -8px;
			}// /Icon +

		}// /Links position

	} // /Rideshare links
		
	// User section
	.nav-user{
		display: flex;
		align-items: center;
		margin-right: 5%;
		ul{
			display: flex;
			align-items: center;
			p{
				display: flex;
				align-content: center;
			}
			.avatar{
				height: 50px;
				width: 50px;
				background-color: $iron;
			}
		}


		// Button drop down menu
		button{
			color: $twilight-blue;
			border: 0;
			margin: 0;
			&:hover{
				color: $teal;
				background-color: transparent;
			}
			button[aaria-haspopup="true"]{
				color: $teal;
				background-color: transparent;
			}
		}// /Button drop down menu

	} // /User section
}// /Genaral top navigation bar
