// Form's submit button
.submit-button{
  background-color: $tarawera;
  color: white;
  width: auto;
  margin-left: 30%;
}
// Form's delete button
.delete-button{
  background-color: $red-berry;
	color: white;
  width: auto;
  margin-left: 10%;
}