  <div class="form-section">
    <h2>Forgot your password?</h2>
    <div class="blue-line"></div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-section">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Enter your email address" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", :class => "submit-button"  %>
        </div>
      </div>
    <% end %>
  </div>
