  <%= form_with(model: @room, local: true) do |f| %>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    
  <%= f.submit "Save", class: 'submit-button' %>
<% end %>