<div class="mb-3">
  <%= link_to new_room_path, class: 'btn submit-button' do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <%= link_to room.name, room_path(room), class: 'nav-link' %>
    <% end %>
  </nav>
<% else %>
  <h3>
    There are no rooms
  </h3>
<% end %>
