<h1>
  Editing room <%= @room.name %>
</h1>

<%= render partial: 'form' %>

<button class="delete-button">
  <%= link_to "Delete", room_path(@room),
      :data => {:confirm => "You sure?",
      :method => "delete"} %>
</button>

                                  