<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div >
      <h2 class="alert-heading">
        Welcome to Chat!
      </h2>
    <div class="blue-line"></div>

      <h6>
        Let us talk.
      </h6>

      <hr />

      <h6>
        Create or join a room from the sidebar.
      </h6>
    </div>
  </div>
</div>