<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to Chat!
      </h4>

      <p>
        Let us talk.
      </p>

      <hr />

      <p>
        Create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>