@import "variables";
@import "mixin";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "messaging"

//GO/ geolocation styling

#map2, #map {
	width: 550px;
	height: 350px;
	border-radius: 4px 4px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 2px 5px 10px rgb(105, 105, 105);
	margin-top: 25px;
	border-width: 2px;
}
// GO/ Add a class to form for rideshare and hide the labels for lat, lng.
// Same for show info.

.hidden {
	display: none;
}

html, body {
	background-color: theme-color("light");
	margin: 0;
	padding: 0;
}

//navigation bar
// .nav {
// 	background-color: theme-color("accent");
// 	.logo-img {
// 		img {
// 			align-self: center;
// 			max-height: 40px;
// 			max-width: 55px;
// 			margin-left: 35px;
// 		}
// 	}
// 	.nav-item {
// 		.nav-link {
// 			color: theme-color("light");
// 			margin: 0;
// 			padding: 10px;
// 		}
// 	}
// }


//search bar
.search-bar {

	-webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	padding: 10px;
	margin-top: 20px;

	input {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		color: theme-color("primary");
		background-color: theme-color("gray");
		border: none;
		padding-left: 10px;
	}


}
//carousel style

.carousel-container {
	margin-top: 20px;

	.carousel-item {

		.user-picture {

		}

		.user-name  {
			background-color: theme-color("secondary");
			color: theme-color("light");
		}

		.rs-c-d {

		}

		p {
			margin: 0;
		}

		.card-info {
			background-color: theme-color("gray");
			padding: 10px;

		}

		.join-ride-btn {

				padding: 0;
			button {
				color: theme-color("primary");
				border: none;
				background-color: theme-color("light");
				margin: 5px;
			}
		}
	}
}

.carousel-indicators {
	background-color: theme-color("secondary");
}


// **** KEYS **** 
$primary-colour: #083f4c;
$text-color: #525a5a;
$main-font:'Roboto', sans-serif;;

// **** BODY **** 
body{
  font-family: $main-font;
}


// Already in scss/components/_buttons.scss

// Submit button of form
// .submit-button{
//   background-color: $primary-colour;
//   color: white;
//   width: auto;
//   margin-left: 30%;
// }
// // Cancel button account
// .delete-button{
//   background-color: #8C0000;
// 	color: white;
//   width: auto;
//   margin-left: 10%;
// }
// Form section devise pages
.form-section{
  width: 50%;
  margin: 5% 20% 0 20%;
}

.devise-links a{
 font-family: 'Roboto:300i', sans-serif;
}

//GO/Other settings..

.nav-item {
	display:flex;
}

.plus-img {
	margin-top: 9px;
	margin-right: -8px;
}

.wrap {
	width: 20em;
	margin-right: 5em;
	display: flex;
	justify-content: space-between;
}

.blue-line {
	width: 60%;
	margin:  0 0 2.5% 20%;
	height: 4px;
	border-radius: 5px;
	box-shadow: 5px 5px 7px theme-color("dark");
	background: theme-color("secondary");
}

.container-home {
	width: 100%;
}

.container-padding{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.col-2 {
	padding: 0;
	width: 50px;
}

.col-custom {
	display: block;
	padding: 0;
	width: 120px;
}

.col-custom3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	width: 120px;
}

.col-custom2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row-custom {
	display: flex;
	width: 500px;
	height: 80px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.input-sm {
	padding-left: 12px;
}

.row-date {
	display: flex;
	width: 300px;
}

.col-date {
	width: 150px;
}

.search-container {
	background-color: green;
}

#avatar {
	display: block;
	width: 70px;
	height: 70px;
	background-color: rgb(255, 255, 255);
	border: lightgrey solid 1px;
	border-radius: 5px;
}

#rider-name {
	width: 180px;
	padding: 7px;
	height: 35px;
	color: theme-color("light");
	background-color: theme-color("secondary");
	border-radius: 0 5px 5px 0;
	box-shadow: 2px 5px 10px rgb(105, 105, 105);
}

#ride-name {
	font-size: 14px;
	color: theme-color("dark");
	text-align: center;
	width: 150px;
	height: 80px;
}

#ride-time {
	font-size: 14px;
	color: theme-color("dark");
	text-align: center;
	width: 150px;
	height: 10px;
}

.container-grey {
	display: flex;
	position: static;
	z-index: -2;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 150px;
	background: lightgrey;
	margin-bottom: 20px;
	border-radius: 5px;
}

.button-join {
	position: static;
	z-index: 1;
	margin-top: -30px;
	margin-left: 65%;
}

#updated_at {
	margin-top: -40px;
	margin-left: 65%;
}
//GO Temporary divs on rideshares page

.div-empty-col {
	border: 1px solid grey;
	border-radius: 5px;
	width: 300px;
	height: 300px;
}

.div-empty-col2 {
	border: 1px solid grey;
	border-radius: 5px;
	width: 300px;
	height: 300px;
}

